<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div id="app">

    <input type="text" v-model="newPageName">
    <button @click="createPage">Создать страницу</button>

    <div v-for="(page, index) in pageList" :key="page.index">
      <div>{{ index+1 }}. {{ page }} <button @click="removePage(page)">×</button></div>
    </div>
  </div>

  <script src="bundle.js"></script>
</body>
</html>